.login-container {
    width: 100vw;
    height: 66vh;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    display: flex;
    /*top:-20px;*/
    flex-direction: column; /* Adjusted the flex-direction to column */
    align-items: center;
    justify-content: center;
    /*background-color: #F8F9FA;*/
    background-color: white;
    /*align-items: center; !* Center content horizontally *!*/
    /*justify-content: center; !* Center content vertically *!*/

}

.login-content {
    text-align: center;
    width: 20rem;
    max-width: 100%; /* Ensure the container doesn't overflow */
    padding: 40px; /* Add some horizontal padding */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 0rem;
    border-radius: 8px;

}

.loginwrapper {
    width: 100vw;
    height: 100vh;
    background-color: white;

}


.btn-accent:hover {
    background-color: rgba(208, 208, 208, 0.5);
}

.google-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.btn-text {
    color: #333;
}

.forgot-password-link {
    color: #333;
    text-decoration: underline;
}

.forgot-password-link:hover {
    color: #666666;
}

.logo-container {
    width: 500px;
}

.loginlogo {
    width: 13.5rem; /* Set width to 100% */
    max-width: 19rem; /* Set a maximum width */
    height: auto;
}

/* Media Query for Mobile Devices */
@media (max-width: 767px) {
    .login-container {
        padding: 20px; /* Add padding to the container */
    }

    .login-content {
        padding: 1.5rem; /* Reduce the padding of the content */
    }

    .logo-container {
        width: 80%; /* Set width to 80% of the viewport */
    }
}

.session-expired-banner {
    background-color: #FF5630; /* Example: yellow background */
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1em;
}
