/* General Styles */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: rgba(52, 68, 96, 0.01);
    color: #1d1d1f;
}

/* Profile Form Styles */
.profile-form {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    padding: 20px;
    width: 100%; /* Set the width to 100% of the modal */
}

.profile-button {
    margin-top: 10px;
    display: inline-block;
    border-radius: 8px;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    transition: background-color 0.2s, color 0.2s;
    cursor: pointer;
}

.profile-section {
    margin-bottom: 20px;
}

.profile-close-button {
    color: black;
    background-color: rgba(25, 48, 75, 0); /* Apple's blue */
    border: none;

}

.profile-close-button:hover {
    color: black;
    background-color: #e0e0e2; /* Slightly darker gray */



}

/* Tabbed Interface */
.profile-tabs {
    display: flex;
    border-bottom: 1px solid #d1d1d6;
    margin-bottom: 20px;
}

.tab {
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    background: none;
    font-weight: 500;
    color: #515154;
    transition: color 0.2s, border-bottom 0.2s;
}

.tab:hover {
    color: #1d1d1f;
}

.active-tab {
    font-weight: 600;
    color: #1d1d1f;
    border-bottom: 3px solid #003975;
}

/* Input and Textarea Styles */
.profile-input, .profile-textarea {
    border: 1px solid #d1d1d6;
    border-radius: 8px;
    color: #1d1d1f;
    font-size: 14px;
    padding: 10px;

    width: 100%;
    transition: border-color 0.2s;
}

.profile-textarea {
    height: 7rem;
}



.profile-input:focus, .profile-textarea:focus {
    border-color: #003975;
    box-shadow: 0 0 0 3px rgba(0,122,255,0.2);
    outline: none;
}

/* Button Styles */
.profile-button {
    margin-top: 10px;
    display: inline-block;
    border-radius: 8px;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    transition: background-color 0.2s, color 0.2s;
    cursor: pointer;
}

.add-button {
    margin-top: -2rem;
    background-color: #f5f5f7; /* Light gray */
    color: #1d1d1f; /* Almost black text */
}

.add-button:hover {
    background-color: #e0e0e2; /* Slightly darker gray */
}

.remove-button {
    background-color: #f5f5f7; /* Light gray */
    color: #1d1d1f; /* Almost black text */
    margin-bottom: 1.5rem;
}

.remove-button:hover {
    background-color: #e0e0e2; /* Slightly darker gray */
}



.generateResumeButton {
    background-color: #344563;
    border: none;
    color: white;
}


.generateResumeButton:hover, .generateResumeButton:active {
    background-color: rgba(52, 69, 99, 0.94);
}

.closeButton {
    color: black;
    background-color: rgba(25, 48, 75, 0); /* Apple's blue */
    border: none;

}

.closeButton:hover {
    color: black;
    background-color: #e0e0e2; /* Slightly darker gray */
}

/* Modal Styling */
.modal-header, .modal-footer {
    border-color: #d1d1d6;
}

.modal-title {
    font-size: 18px;
    font-weight: 600;
}

/* Responsive Design */
@media (max-width: 768px) {
    .profile-form {
        padding: 15px;
    }

    .profile-input, .profile-textarea {
        padding: 8px;
    }

    .profile-tabs {
        flex-direction: column;
    }

    .tab {
        width: 100%;
    }
}
