.dashboard-container {
    font-family: 'Arial', sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #f0f0f0;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
  }
  
  .search-container input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .account-container span {
    font-weight: 600;
  }
  
  .templates-section,
  .projects-grid {
    padding: 1rem;

  }
  
  .templates-section {
    background-color: #e9ecef;
    padding-top: 5rem;
    padding-bottom: 3rem;
  }
  .job-posting-textarea {
    height: 100px; /* Adjust the height as needed */
  }
  .template-preview img {
    width: 100%; /* or any other size you prefer */
    height: auto;
  }
  
  .projects-grid {
    background: blue;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
  }
  .projects-container {
    background: green;
    display: flex;
    flex-wrap: wrap;
  }
  
  .resume-card {
    flex: 1 0 20%; /* This will make 5 cards in a row, adjust as needed */
    margin: 10px;  /* Adjust as needed */
  }

  .new-resume {
    width: calc(11 * 20px); /* 8.5 / 11 aspect ratio */
    height: calc(8.5 * 20px);
    background-color: #fff;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .new-resume span {
    font-size: 2rem;
    color: #777;
  }

  .template-button {
    width: calc(11 * 20px); /* 8.5 / 11 aspect ratio */
    height: calc(8.5 * 20px);
    background-color: #fff;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 10px; /* To provide some spacing between the buttons */
    text-align: center; /* Align the template text in the center */
  }
  
 
  .modal-body {
    display: flex;
    align-items: flex-start; /* aligns the content to the top of the modal */
  }
  
  .modal-dialog {
    max-width: 100%; /* makes modal width responsive up to 90% of the viewport width */
    width: 50vw; /* set default width */
  }
  
  .modal-content {
    overflow: hidden; /* hides overflow content */
  }
  
  .modal-left,
  .modal-right {
    width: 50%;
    padding: 10px;
    box-sizing: border-box; /* include padding and border in element's total width and height */
  }
  
  .modal-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* align content to the start of the container */
  }
  
  .generate-button {
    align-self: flex-end;
    margin-top: 10px; /* provides some spacing between the dropdown and the button */
  }
  
  /* If you want the template buttons to have a hover effect */
  .template-button:hover {
    background-color: #e9ecef;
  }

  .journeys-dropdown {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }

  .profile-manager-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
/* Add or adjust your modal CSS */
.profile-modal-dialog {
    width: 80%; /* or any preferred size */
    max-width: 500px; /* or any preferred size */
  }

  .profile-icon {
    cursor: pointer;
    margin-left: 10px; /* Adjust as needed */
    font-size: 24px; /* Adjust as needed */
    color: #333; /* Adjust as needed */
  }

  .job-posting-input {

    margin-top: 10px;
    margin-bottom: 10px;
  }
  

  .admin-ribbon {
    
    background-color: #2e2e2e; /* dark gray */
    color: white; /* text color */
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
  }
  
  .admin-ribbon button {
    background-color: white;
    color: #ffffff; /* text color of button */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .admin-ribbon button:hover {
    background-color: #e0e0e0;
  }
  
  .custom-button {
    background-color: white !important;
    color: #2e2e2e !important;
    border-color: white !important;
  }

  .notification {
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
  }
  
  .success {
    background-color: #d4edda;
    color: #155724;
  }
  
  .error {
    background-color: #f8d7da;
    color: #721c24;
  }


  .templates-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap between the cards as needed */
  }
  

  
  



.new-resume button {
    padding: 10px;
    font-size: 16px; /* or another appropriate size */
    cursor: pointer;
}



.template-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
 

  
  
  .new-resume button {
  font-size: 64px; /* Adjust as needed */
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.743); /* Adjust the shade of gray as needed */
  background-color: transparent; /* Remove background color */
  border: none; /* Remove border */
  cursor: pointer; /* Make it look clickable */
  padding: 100%;

}

/* You might want to add some hover effect to make it more interactive */
.plus-button:hover {
  color: darkgray; /* Adjust as needed */
}
.beta-notice {
    width: 100%;
    position: absolute;

    
  }