/* General Styles */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboard-container {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.plus-sign {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
/* Style for the Modal */
.modal-dialog {
  max-width: 60%; /* or any specific value */
}

/* Style for the Textarea */
.form-control {
  /*height: 500px; !* or any specific value *!*/
}
.content-container {
  padding: 0 2%; /* Or another value that suits the design */
}
.resumes-container, .template-container {
  justify-content: space-between; /* or space-around */
}

.DashboardNav {
  width: 100vw;
  background-color: #f0f0f0;
  /*padding: 20px;*/
  min-width: 300px; /* Set a minimum width */
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
}

.content-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Resumes Section */
.resumes-section h2 {
  text-align: left;
}
.resumes-section, .templates-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align content to the left */
  padding: 20px;
}


.resumes-container {
  display: flex;
  flex-wrap: nowrap; /* Prevents wrapping so resumes will be in a single line */
  overflow-x: auto;  /* Makes it horizontally scrollable */
  gap: 20px;
}
/* For screens >= 1920px */
@media screen and (min-width: 1920px) {
  .resume-card {
    flex: 0 0 calc(25% - 20px); /* Adjusts the width to roughly 25% minus gap */
  }
}

/* For screens < 1920px but >= 1366px */
@media screen and (max-width: 1919px) and (min-width: 1366px) {
  .resume-card {
    flex: 0 0 calc(50% - 20px); /* Adjusts the width to roughly 50% minus gap */
  }
}

/* For screens < 1366px but >= 769px */
@media screen and (max-width: 1365px) and (min-width: 769px) {
  .resume-card {
    flex: 0 0 calc(50% - 20px); /* On medium screens, 50% width for 2 in a row */
  }
}

/* For screens <= 768px but > 480px */
@media screen and (max-width: 768px) and (min-width: 481px) {
  .resume-card {
    flex: 0 0 calc(50% - 20px); /* On medium screens, 50% width for 2 in a row */
  }
}

/* For screens <= 480px */
@media screen and (max-width: 480px) {
  .resume-card {
    flex: 0 0 100%; /* On small screens, 100% width for 1 in a row */
  }
}

.template-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Align items to the left in a row */
  gap: 20px;
}
.resumes-container, .template-container {
  margin: auto;
}



.resume-card {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  width: 200px; /* Adjust the width as needed */
  border: 1px solid #ccc; /* Add a border for clarity */
  overflow: hidden; /* Hide overflow content if any */
  position: relative;
}

.resume-card {
  position: relative;
  /*width: 200px;*/
  height: 300px;
  /*margin: 10px;*/
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
}

.resume-card img {
  margin-top: 4.25rem;
  height: 120%;
}

.resume-card.isNewResume {
  font-size: 24px; /* Increase font size */
  font-weight: bold; /* Make text bold */
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  height: 70px;
  padding: 20px;
}

/* Templates Section */
.templates-section {
  /*background-color: #000;*/
  color: #fff;
  padding-bottom: 3rem;

}

.templates-section h2, p {
  /*background-color: #000;*/
  color: black;
}

/* Footer */
.footer {
  width: 100%;
  padding: 1rem;
  /*background-color: #e9ecef;*/
  text-align: center;
}

/*@media screen and (max-width: 768px) {*/
/*  .resume-card {*/
/*    flex: 0 0 calc(50% - 20px); !* On medium screens, 50% width for 2 in a row *!*/
/*  }*/
/*}*/

/*@media screen and (max-width: 480px) {*/
/*  .resume-card {*/
/*    flex: 0 0 100%; !* On small screens, 100% width for 1 in a row *!*/
/*  }*/
/*}*/