.home-container {
    background-color: #ffffff;
  }
  
  .banner {
    display: flex;
    align-items: center;
    background-color: #00162f;
    text-align: center;
    color: white;
    justify-content: space-between;
  }
  
  
  .banner-content {
    width: 100%;
    flex: 1;
    text-align: left;
    padding-left: 7.25%;
    margin: auto;
    flex: 1;
    text-align: left;
  }

  .content-container {
    width: 80%;
    margin: auto;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: white;
  }
  
  .btn-primary {
    margin-left: 10px;
  }
  
  .btn-light {
    background-color: #ffffff;
    color: #333;
  }
  
  .card {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  }
  
  .banner-content {
    width: 50%;
    flex: 1; 
    text-align: left;
    padding-left: 7.25%; /* Existing left padding */
}

  

  /* Adjust the rest of the styling as per your needs */
  .three-animation-container {
    width: 70%;
    height: 10%;
    margin-bottom: 15vh;
    flex: 1;
    /* background-color: red; */
    padding-right: 10%; /* This will give the equivalent padding to the right side as the left side of .banner-content */
}
  
  .three-animation {
    position: relative;
    top: -5vh;
    bottom: 10vh;
    right: 0;
    width: 100%; /* Adjust as necessary */
    height: 60vh;
    padding-bottom: 5vh;

    z-index: 1;
  }

  